.food_section {
    margin-top: 10%;
}
.search-container {
    display: flex;
    justify-content: center; /* Center the container horizontally */
    width: 100%; /* Make the container full width */
  }
  
  .search-container input {
    width: 40%; /* Set the width of the input to 50% */
    max-width: 600px; /* Optional: set a maximum width to avoid very wide inputs on large screens */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .disable {
    pointer-events: none; /* Prevents interaction */
    opacity: 0.5; /* Makes the item look disabled */
    cursor: not-allowed; /* Shows a "not allowed" cursor */
  }
  
  /* Optional: To ensure the SVG looks consistent when disabled */
  .disable svg {
    fill: gray; /* Change the color to indicate it's disabled */
  }
  
  
