<app-navbar></app-navbar>
<section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="assets/about+page.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Welcome to Nutrinest !
              </h2>
            </div>
            <p>
              Our mission is to provide high-quality nutritious food to your doorstep at 
              the most reasonable price and time. Nutrinest is not just a food delivery 
              app; we aim to make healthy eating effortless and enjoyable for all.
            </p>
            <p>
              Nutrinest's journey began with a simple idea to resolve the time management 
              issue without compromising on staying healthy in this busy modern era. Our 
              founders are passionate about making balanced, delicious food for day-to-day life prepared by skilled chefs, 
              and our great nutritionists qualify all of our recipes.
            </p>
            <p>At Nutrinest, we are more than just a food delivery service; we value a 
              healthier and happier lifestyle. Thank you for joining with us on this journey</p>      
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
