<div class="image-container">
    <app-navbar [isMain]="true"></app-navbar>
    <img src="assets/hero-bg.jpg" alt="Background Image">
    <div class="form-overlay">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" style="margin-top: 8%;">
            <h2>Update Your Profile</h2>
            <div class="profile-picture-container">
                <img [src]="selectedFileUrl || downloadURL || 'https://bootdey.com/img/Content/avatar/avatar6.png'" alt="Profile Picture" class="profile-picture">
            </div>
            <div>
                <label for="name">First Name:</label>
                <input id="name" formControlName="first_name" type="text">
            </div>
            <div>
                <label for="lastName">Last Name:</label>
                <input id="lastName" formControlName="last_name" type="text">
            </div>
            <div>
                <label for="email">Email:</label>
                <input id="email" formControlName="email" type="email">
            </div>
            <div>
                <label for="mobileNumber">Mobile Number:</label>
                <input id="mobileNumber" formControlName="mobile_number" type="text">
            </div>

                <h6>BMI Calculation Part</h6>
                <p *ngIf="bmi">
                  Your Calculated BMI is: <strong>{{ bmi | number: '1.2-2' }}</strong> 
                  and the category is <strong>{{ bmiCategory }}</strong>
                </p>          
                <div>
                    <label for="weight">Weight (kg):</label>
                    <input id="weight" formControlName="weight" type="text" (input)="calculateBMI()">
                </div>
                <div>
                    <label for="height">Height (m):</label>
                    <input id="height" formControlName="height" type="text" (input)="calculateBMI()">
                  </div>
            <a class="order-now" (click)="onSubmit()"> Update </a>
        </form>
    </div>
</div>
