.container {
    margin-top: 8% !important;
  }
  
  .card {
    border-radius: 15px;
    animation: fadeIn 1s ease-in-out;
  }
  
  .card-body {
    padding: 1.5rem;
  }
  
  .order-container {
    border-bottom: 1px solid #ccc;
  }
  
  .status-badge {
    font-size: 1rem;
    padding: 5px 10px;
    margin-left: 10px;
    display: inline-block;
  }
  
  .badge-success {
    background-color: #28a745;
  }
  
  .badge-warning {
    background-color: #ffc107;
  }
  
  .badge-secondary {
    background-color: #6c757d;
  }
  
  .badge-danger {
    background-color: #dc3545;
  }
  
  .spinner-border {
    width: 3rem;
    height: 3rem;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  