<header class="header navBar">
  <img src="assets/logo.png" alt="Logo" class="logo" />
  <nav class="nav">
    <ul>
      <ng-container *ngIf="!isAdmin && !isEmployee">
        <li><a [routerLink]="['/home']">Home</a></li>
        <li><a [routerLink]="['/home/menu']">Menu</a></li>
        <li><a [routerLink]="['/home/about']">About</a></li>
        <li><a [routerLink]="['/home/order']">Track Orders</a></li>
        <li>
          <a href="" class="user_link" [routerLink]="['/home/profile']">
            <i class="fa fa-user" aria-hidden="true"></i>
          </a>
        </li>
        <li class="cart-container">
          <a class="user_link" [routerLink]="['/home/cart']">
            <img src="assets/cart.png" alt="Cart">
            <span class="cart-count">{{ cartItemCount }}</span>
          </a>
        </li>
      </ng-container>
      <ng-container *ngIf="isAdmin">
        <li><a [routerLink]="['/admin/home']">Admin Dashboard</a></li>
        <li><a [routerLink]="['/admin/product']">All Products</a></li>
        <li><a [routerLink]="['/admin/employee']">Manage Employee</a></li>
      </ng-container>
      <ng-container *ngIf="isEmployee">
        <li><a [routerLink]="['/employee']">Employee Dashboard</a></li>
      </ng-container>
      <li>
        <a (click)="logout()"> Logout</a>
      </li>
    </ul>
  </nav>
</header>
