<div class="modal-header">
    <h5 class="modal-title">Product Information</h5>
  </div>
  <div class="modal-body">
    <div class="image-container">
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="profile-form">
        <div class="profile-picture-container">
          <img
            [src]="selectedFileUrl || downloadURL || 'https://bootdey.com/img/Content/avatar/avatar6.png'"
            alt="Profile Picture"
            class="profile-picture"
            (click)="updatePicture()"
          />
        </div>
        <input type="file" (change)="onFileSelected($event)" #fileInput style="display: none;"/>
        <div class="form-group">
          <label for="name">Product Title:</label>
          <input id="name" formControlName="productTitle" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label for="lastName">Price:</label>
          <input id="lastName" formControlName="price" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label for="category">Product Category:</label>
          <select id="category" formControlName="category" class="form-control">
            <option value="Appetizers">Appetizers</option>
            <option value="Salad">Salad</option>
            <option value="Mains">Mains</option>
            <option value="Soup">Soup</option>
            <option value="Drinks">Drinks</option>
            <option value="Desert">Desert</option>
          </select>
        </div>
        <div class="form-group">
          <label for="email">Calories:</label>
          <input id="email" formControlName="calories" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label for="mobileNumber">Product Description:</label>
          <textarea name="description" formControlName="description" rows="4" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label for="availability">Availability:</label>
          <select id="availability" formControlName="available" class="form-control">
            <option value="true">Available</option>
            <option value="false">Not Available</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" form="signUpForm" class="order-now" (click)="onSubmit()">Update</button>
    <button type="button" class="btn btn-secondary order-now closeBtn" (click)="onClose()">Close</button>
  </div>
  
