.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    padding: 1rem;
  }
  
  .modal-title {
    text-align: center;
    font-size: 1.5rem;
  }
  
  .profile-form {
    margin: 0 auto;
    max-width: 400px;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .profile-picture-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-control {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  /* .order-now {
    display: block;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .order-now:hover {
    background-color: #0056b3;
  } */
  .order-now {
    text-align: center;
    border: none;
    border-radius: 4px;
    width: 46%;
  }
  .btn-secondary {
    margin-left: 1rem;
  }
  .closeBtn {
   background:  #7F7F7F !important;
  }