<div class="image-container">
    <img src="assets/hero-bg.jpg" alt="Background Image">
    <div class="form-overlay">
      <form [formGroup]="accountType == 2 ? employeeForm : clientForm">
        <div class="text-center mt-3">
          <button class="btn btn-light" [ngStyle]="{'background': accountType == 3? '#FFBE33':''}" (click)="accountType = 3">Client</button>
          <button class="btn btn-light" style="margin-left: 5px;" [ngStyle]="{'background': accountType == 2? '#FFBE33':''}" (click)="accountType = 2" >Delivery Boy</button>
        </div>
        <h2>Create an Account</h2>
        <div>
          <label for="name">First Name:</label>
          <input id="name" formControlName="firstName" type="text">
        </div>
        <div>
            <label for="lastName">Last Name:</label>
            <input id="lastName" formControlName="lastName" type="text">
          </div>
        <div>
          <label for="email">Email:</label>
          <input id="email" formControlName="email" type="email">
        </div>
        <div>
          <label for="mobileNumber">Mobile Number:</label>
          <input id="mobileNumber" formControlName="mobileNumber" type="text">
        </div>
        <ng-container *ngIf="accountType == 3">
          <h6>BMI Calculation Part</h6>
          <p *ngIf="bmi">
            Your Calculated BMI is: <strong>{{ bmi | number: '1.2-2' }}</strong> 
            and the category is <strong>{{ bmiCategory }}</strong>
          </p>          
          <div>
              <label for="weight">Weight (kg):</label>
              <input id="weight" formControlName="weight" type="text" (input)="calculateBMI()">
          </div>
          <div>
              <label for="height">Height (m):</label>
              <input id="height" formControlName="height" type="text" (input)="calculateBMI()">
            </div>
        </ng-container>
          <div>
            <label for="image">Profile Image:</label>
            <input id="image" type="file" (change)="onFileSelected($event)" accept="image/*">
          </div>
        <div>
          <label for="password">Password:</label>
          <input id="password" formControlName="password" type="password">
        </div>
        <a class="order-now" (click)="onSubmit()"> Register </a>
        <div class="link-container">
          <a [routerLink]="['/login']" >Already have an Account?</a>
        </div>
      </form>
    </div>
  </div>
  